{% load custom_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <meta content="" name="description">
    <meta content="" name="keywords">

    <link href="{% static 'main/img/favicon.png' %}" rel="icon">
    <link href="{% static 'main/img/favicon.png' %}" rel="apple-touch-icon">

    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <link href="{% static 'main/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'main/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'main/vendor/simple-datatables/style.css' %}" rel="stylesheet">



    <link href="{% static 'main/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'main/css/print.css' %}" rel="stylesheet" type="text/css" media="print">

    {% endblock %}

</head>
<body>

{% block header %}
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="{% url 'main:index' %}" class="logo d-flex align-items-center" >
            <img src="{% static 'main/img/png/logo.png' %}" style="height: 40px;" alt="">&nbsp;&nbsp;
            <span class="d-none d-lg-block">Zeenny Law Firm</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>


    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">


            <li class="nav-item dropdown">


            </li>
            {% if user.is_authenticated %}
            <li class="nav-item dropdown pe-3">
                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <span class="d-none d-md-block dropdown-toggle ps-2">{{ user.get_full_name }} </span>
                </a>

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>{{ user.get_full_name }} </h6>
                        <span>{{ user.job }}</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{% url 'main:profile' username=user.username%}">
                            <i class="bi bi-person"></i>
                            <span>My Profile</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{% url 'main:profile' username=user.username%}"
                           data-bs-target="#profile-edit">
                            <i class="bi bi-gear"></i>
                            <span>Account Settings</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{% url 'main:faq' %}">
                            <i class="bi bi-question-circle"></i>
                            <span>Need Help?</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{% url 'main:logout' %}">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Sign Out</span>
                        </a>
                    </li>

                </ul>
            </li>
            {% else %}
            <li class="nav-item pe-4">
                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="{% url 'main:login' %}">
                    <span class="d-none d-md-block ps-2">Login to access Artax&trade; features&nbsp;<i class="bi bi-box-arrow-in-right"></i></span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>

</header>
{% endblock %}
{% block sidebar %}
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav collapsed" id="sidebar-nav">

        {% nav_link 'main:index' 'Dashboard ' 'grid' %}



        <li class="nav-heading">Books</li>
        {% nav_link 'books:all_books' 'Books' 'bi bi-journal-bookmark' %}
        {% nav_link 'books:new_book' 'New Book' 'bi bi-journal-plus' %}
        {% nav_link 'books:book_queries' 'Query Books ' 'bi bi-search' %}
        {% if user.is_staff %}
            <hr>
            <li class="nav-heading">Administrator</li>
            {% nav_link 'admin:index' 'Admin Panel' 'bi bi-browser-edge' 'True' %}
            {% nav_link 'main:all_users' 'Users' 'ri-group-fill'%}
            {% nav_link 'main:register' 'Register' 'bi bi-person-plus' 'True' %}
            <hr>
            <li class="nav-heading">General</li>
        {% endif %}
        {% nav_link 'main:faq' 'F.A.Q' 'bi bi-question-circle' %}
        {% nav_link 'main:contact' 'Contact' 'bi bi-envelope' %}
        
        {% if user.is_authenticated %}
            {% nav_link 'main:profile' 'Profile ' 'bi bi-file-person' username=user.username %}
            {% nav_link 'main:logout' 'Logout' 'bi bi-box-arrow-right' %}
        {% else %}
            {% nav_link 'main:login' 'Login' 'bi bi-box-arrow-in-right' %}
        {% endif %}


    </ul>

</aside>
{% endblock%}
{% block content %}{% endblock %}


<script src="{% static 'main/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'main/vendor/simple-datatables/simple-datatables.js' %}"></script>
<script src="{% static 'main/vendor/tinymce/tinymce.min.js' %}"></script>

<script src="{% static 'main/js/main.js' %}"></script>


{% block footer %}
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>ARTAX</span></strong>. All Rights Reserved
    </div>
</footer>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up"></i>H</a>




</body>
</html>
{% endblock %}